<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite name="Pheonix application API test suite " verbose="1">
 

  <test name="Inwarranty flow test">
    <classes>
      <class name="com.api.test.loginapiTest"/>
     <class name="com.api.test.userdetailsapiTest"/>
     <class name="com.api.test.countapiTest"/>
     <class name="com.api.test.masterapiTest"/>
     <class name="com.api.test.createjobapiTest"/>
     
    </classes>
  </test>
</suite>